extends ./layout/index 

block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="/img/nosotros.jpg", alt="img not found", class="img-fluid")
            .col-md-7
                 h1= pagina
                 blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non fringilla enim. Cras dapibus libero at lorem accumsan laoreet. Sed justo nisl, lobortis et feugiat sit amet, ornare consectetur tellus. Donec fringilla risus ut mi tincidunt, luctus tincidunt lectus maximus. Integer at blandit enim, nec faucibus mi. Morbi dignissim libero erat, a ultricies ipsum pulvinar non. Proin at ultricies arcu. Nulla facilisi. Nunc auctor velit justo, a dapibus nisi sollicitudin nec.
                 p Donec at ultrices ipsum, nec accumsan orci. Curabitur hendrerit eget orci at vehicula. Suspendisse sed sem in ipsum aliquam ultrices. Pellentesque convallis fringilla lectus, eu eleifend elit. Nulla posuuet. Praesent ac interdum risus, vitae main a nisl faucibus, pharetra tortor vel, tincidunt massa. Integer quis elementum elit.
                 p  Mauris iaculis, risus eu cursus dapibus, magna mauris pulvinar neque, sit amet euismod diam lorem in ipsum. Nullam vel placerat libero. Duis tortor sapien, aliquam condimentum purus ac, consequat ultricies justo. Aenean venenatis libero in lacus lobortis, dictum consectetur eros laoreet. Interdum et malesuada fames ac ante ipsumdignissim sed nisl in, rhoncus placerat eros. Maecenas accumsan ligula in orci pulvinar, sed blandit lacus lacinia.
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row    
                .col-md-4
                    img(src="/img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p imperdietuse, sit amet euismod diam lorem in ipsum. Nullam vel placerat libero. Duis tortor sapien, aliquam condimentum purus ac, consequat ultricies justo. Aenean venenatis libero in lacus lobortis, dictum consectetur eros laoreet. Interdum et malesuada fames ac ante ipsumdignissim sed nisl in
                .col-md-4
                    img(src="/img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p imperdietuse, sit amet euismod diam lorem in ipsum. Nullam vel placerat libero. Duis tortor sapien, aliquam condimentum purus ac, consequat ultricies justo. Aenean venenatis libero in lacus lobortis, dictum consectetur eros laoreet. Interdum et malesuada fames ac ante ipsumdignissim sed nisl in
                .col-md-4
                    img(src="/img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p imperdietuse, sit amet euismod diam lorem in ipsum. Nullam vel placerat libero. Duis tortor sapien, aliquam condimentum purus ac, consequat ultricies justo. Aenean venenatis libero in lacus lobortis, dictum consectetur eros laoreet. Interdum et malesuada fames ac ante ipsumdignissim sed nisl in
               
            